body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
#header{
    width:100%;
    height: 30px;
    background-color:#d3d3d3e7;
    padding: 5px;
}
#logo{
    float: left;
    font-size: 25px;
    font-weight: bold;
    padding: 2px 5px;
}
#buttonContainer{
    
    width:250px;
    margin:0 auto;
}
.toggleButton{
float: left;

border: 1px solid grey;
border-right: none;
padding: 5px;
}
#html{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#output{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid grey;
}
.panel{
    height:500px;
    width:340px;
}
.active{
    background-color:skyblue;
}
.highlightButton{
    background-color: grey;
}
.panel{
    float: left;
    width: 50%;
    
}
textarea{
    
    resize: none;
    width:50%;
    border-color: gray;
    border-top: none;
}
iframe{
    border: none;
}
.hidden{
    display: none;
}